*{/* l'etoile ou astérique selectionne tous les élément de ma page html */
    font-family: fantasy;  /* style de lecreture*/

}
BODY{/*largeur de ma page 50% de l'ecran*/
    width: 50%;
     margin: auto; /* GESTION AUTOMATIQUE DES MARQUES POUR QUE MON TABLEAU SOIT CENTRER */

}

table{
    border: 4px solid #483d8b; /* bordure - 3 valeurs: epaisseur/type de trait/ couleur*/
    border-collapse: collapse; /* par defaut la bordure contient 2 traits, pour que le trait soit unique on utilise la 
    propriété "collase" */
    width: 90%; /* largeur du tableau par rapport a son contenant donc ici au body /!\ ne pas oublier la regle de l'heritage en CSS */
    margin: 25px; /* marge exterieure de la balise */

}

thead, tfoot{
    background-color: #e6e6fa;
    border: 2px solid #6a5acd;
}

tbody{
    border: 3px double #6a5acd; /* solid, dashed, dotted, double, ridge, groove */

}

th{
    border: 1px dotted #6a5acd; /* dotted = pointillés */
    padding: 4px;
    background-color: rgb(231, 194, 245);
    width: 25%;
}

td{
    font-size: 100%;
    border: 1px dotted #6a5acd;
    padding: 5px; /* padding= marge inferieure */
}

td:first-child{ /* 1er <td> pour aligner le texte à gauche de la premiere cellule de chaque rangé */
    text-align: left;
    background-color: #e6e6fa;

}

caption{
    font-size: 30px;
    color: rgb(81, 0, 128);
    padding: 0,5rem;
    background-color: rgb(215,208,255);
}