#conteneur{
    /*    background: none repeat scroll 0 0 #336699;*/
    /* height: 600px; */
    margin: 0 auto;
    width: 800px;

}

header{
    background: #ff5555;
    width: 800px;
    height: 70px;
    line-height: 70px;

}

.gauche, .droite{
    background: #5585ff;
    width: 150px;
    height: 530px;
    display: inline-block;
    line-height: 530px;
}

.milieu{
    display: inline-block;
    height: 450px;
    line-height: 560px;
    
}

.z_milieu{
    background: #55d87c;
    border: 1px solid;
    display: inline-block;
    margin-left: -4px;
    height: 448px;
    width: 97px;
}

.bas{
    background: gold;
    bottom: 96px;
    height: 80px;
    line-height: 80px;
    left: 150px;
    position: relative;
    width: 500px;
}

.bas{
    clear: both;
}