*{
    font-family: sans-serif;/*police d'ecrit*/
}

nav{
    background: #000;
    padding: 0 0.5em;
    position: fixed;
    text-align: center;
    width: 100%;
    top: 0; /* position a partir du haut de l'ecran */
    left: 0; /* position a partir de la gauche de l'ecran*/
    /* margin: 0 0 20px; */
}

nav a{
    /* tous les liens a l'intérieure de la balise nav */
    float: left; /* effet flottant a gauche*/
    text-decoration: none; /* none = aucun, pas d'heritage avec effet sourligné comme c'est standard pour les liens sous tous les navigateurs*/
    color: #fff; /* couleur du text*/
    line-height: 2.7rem; /* interligne*/
    padding: 0em 2em; /* marge interieurs - on les fait dans le snes des aiguilles d'une montre (haut, droite, bas, gauche */
    font-size: 1.2em; /*taille du texte*/
    transition: 2s; /* temps de transition lors du haver (survol de la souris) : ici 2 secondes*/
}

nav a:hover{ /* tous les liens au survol de la souris dans la nav */
    background: #fda500;/* couleur de fond */
    color: #000; /* couleur du text*/
}

/*1er container*/
.container{
    width: 70%;
    margin: 4% auto 2% auto;
    background: #f1fcde;
    padding: 2em;
}

mark{
    background: #b5a7cf;
}

/* 2eme container*/
.container1{
    width: 70%;
    margin: 2% auto; /* contraction pour 2% auto 2% auto*/
    background: #f1fcde;
    padding: 2%;
}
.container2, .container3{
    width: 44.5%;
    background: #f1fcde;
    padding: 2%;
    float: left;
}

.container2{
    margin-right: 1.5%;

}

.container3{
    margin-left: 1.5%;
}


.clear{
    clear: both;
}

.container3 ol li:nth-of-type(11){
    border: 15px solid crimson;
}
.container3 ol li:first-child {
    font-weight: 700;
}

.container3 ol li:nth-of-type(7){
    opacity: 0.1;
}

.container3 ol li:last-child{
    color: darkred;
}

/*
exercice supplémentaire
bordure su li "border
fontweight sur li "font-weight"
opacity sur li "opacity"*/


