body{
    width: 960px;
    margin: 0 auto;

}
.green, .pink, .vert, .blue{

    border: 2px solid black;
    width: 16%;
    height: 10em;
    text-align: center;
}

.green{
    background-color: green;
    color: #000;
    border-radius: 40% 0%;
}

.blue{
    background-color: blue;
    color: #000;
    border-radius: 40% 0%;
}

.pink{
    background-color: darksalmon;
    color: #000;
    border-radius: 50%;
}

.vert{
    background-color: aquamarine;
    color: #000;
    border-radius: 50%;
}

.bloc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;


}