.center{
    background: rgb(191, 228, 136);
}

section{
    background-color: white;
}

body{
    background-color: rgb(196, 226, 136);
}

h1{
    color: rgb(106, 204, 106);
}

h2{
    color: rgb(137, 207, 137);
}